@{
    ViewBag.Title = "High Scores";
}
<!--Project by Tuan Pham and CJ Marshall-->
<br />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />

@{
    List<Final_Group_Project.Models.Scores>
            scores = ViewData.Model;//get a list of scores

    List<Final_Group_Project.Models.Scores>//put them in order of the percentage score property
        highScores = scores.OrderBy(o => o.QuizScore).ToList();
    highScores.Reverse();//reverse the list so that  the highest score is first in the list
    int count = 0;
    foreach (var score in highScores)
    {
        if (count < 10)//displays the top ten scores.
        {
            <h3>@(count + 1)</h3>
            <p>Player Name: @score.PlayerName</p>
            <p>Quiz Type: @score.QuizType</p>
            <p>Percentage Correct: @score.QuizScore%</p>
            <p>Date: @score.QuizDate</p>
            <br />
            count++;
        }
    }
}