@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <!-- I get the feeling this is a TERRIBLE way of doing this but I'm committed at this point.-->
    Enter Name: <input type="text" name="search" id="search" /> <br />

   <button type="button" onclick='searchFunction()'>search</button>

    <script>
        function searchFunction() {
            window.location.href = '@Url.Action("Search", "Home")/' + "?search=" + document.getElementById("search").value;

        }
    </script>


</p>

@if(ViewData.Model != null)
{
    foreach (var score in ViewData.Model)
    {
    <p>Player Name: @score.PlayerName</p>
    <p>Score: @score.QuizScore</p>
    <p>Date: @score.QuizDate</p>
    }
}